{% extends "base.html" %}


{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">

        <div class="flex flex-row grid grid-cols-2 gap-2 text-center w-full mb-20">

            <div class="border-2 border-slate-900 rounded-xl">

                <h3 class="font-mono">UPLOAD A FILE</h3>

                <div class="mx-auto w-full px-5 py-5">
                    <form method="post" action="/upload" enctype="multipart/form-data">


                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="file_input">Select File</label>
                        <input
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                            name="file" aria-describedby="file_input_help" id="file_input" type="file" required>


                        <input type="hidden" name="parent_id" value="{{ parent_inode.id }}">

                        <p class="mt-1 mx-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">ALLOWED
                            EXTENSIONS : TXT,
                            PDF,
                            PNG, JPG, JPEG, GIF, MP4, DOCX, PPTX
                        </p>

                        <input type="submit" value="Upload File"
                            class="my-5 w-full text-white bg-gray-900 hover:bg-blue-900  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">

                    </form>
                </div>
            </div>




            <div class="border-2 border-slate-900 rounded-xl">

                <h3 class="font-mono">CREATE NEW DIRECTORY</h3>
                <form method="post" action="/create" class="my-5 container mx-auto w-full px-4">
                    <div class="mb-3">
                        <label for="dirname"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Directory
                            Name
                            :
                        </label>

                        <input type="hidden" name="parent_id" value="{{ parent_inode.id }}" required>

                        <input type="text" id="dirname" name="dirname"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Example_dir_name_1" required />

                        <p class="mt-1 my-2 text-gray-500 dark:text-gray-300" id="file_input_help">Directory
                            name should not contain any special characters except _
                        </p>
                    </div>




                    <button type="Create Directory"
                        class="mt-1 w-full text-white bg-gray-900 hover:bg-blue-900  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Create
                        Directory</button>
                </form>
            </div>
        </div>




        <h1 class="font-mono sm:text-3xl text-center text-2xl font-medium title-font mb-4 text-gray-900">All Files</h1>

        <nav class="flex justify-between" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/all_files/{% if parent_inode.id == 1 %}{{ 1 }}{% else %}{{parent_inode.parent_id}}{% endif %}"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>

                        {{parent_inode.name}}
                    </a>
                </li>
            </ol>
            <a href="/paste/{{parent_inode.id}}"
                class="flex flex-row items-center justify-center mx-2 border-2 border-slate-900 rounded hover:bg-blue-600 hover:text-white">
                <img class="basis-1/2 px-1 py-1" width="32" height="32" src="https://img.icons8.com/color/48/paste.png"
                    alt="paste" />
                <p class="basis-1/2 font-mono text-sm pr-2">
                    Paste
                </p>
            </a>
        </nav>






        <hr>
        <br><br><br>





        <div class="mx-auto mt-5 w-full flex flex-wrap items-center justify-center">

            {% for inode in inodes %}
            <div class="row">
                <div class="col">

                    <div class="w-44 mx-3 my-2 p-2 border rounded-xl border-slate-600">
                        <div class="flex flex-row justify-between">

                            {% if inode.is_file %}
                            <a href="/download/{{ inode.id }}">
                                <img width="24" height="24" class="my-2 mx-1 basis-1/4"
                                    src="https://img.icons8.com/material-rounded/24/download--v1.png"
                                    alt="download icon" />
                            </a>
                            {% endif %}

                            <a href="/delete/{{inode.id}}">
                                <img width="24" height="24" class="my-2 mx-1 basis-1/4"
                                    src="https://img.icons8.com/color/48/delete-sign--v1.png" alt="filled-trash" />
                            </a>

                            <a href="/copy/{{inode.id}}">
                                <img width="24" height="24" class="my-2 mx-1 basis-1/4"
                                    src="https://img.icons8.com/material-rounded/24/copy.png" alt="copy" />
                            </a>

                            <a href="/move/{{inode.id}}">
                                <img width="24" height="24" class="my-2 mx-1 basis-1/4"
                                    src="https://img.icons8.com/material-rounded/24/cut.png" alt="cut" />
                            </a>

                        </div>
                        <hr>
                        {% if inode.is_file %}
                        <div href="/all_files/{{inode.id}}" class="flex flex-col justify-center items-center">
                            {% else %}

                            <a href="/all_files/{{inode.id}}" class="flex flex-col justify-center items-center">
                                {% endif%}


                                {% if inode.is_file %}
                                <img class="rounded-t-xl" height="100" width="100"
                                    src="https://img.icons8.com/fluency/48/file.png" alt="File Icon">
                                {% else %}

                                <img class="rounded-t-xl" height="100" width="100"
                                    src="https://img.icons8.com/fluency/48/folder-invoices--v1.png"
                                    alt="Directory Icon">
                                {% endif %}

                                <h3 class="font-mono font-bold truncate w-full text-center">
                                    {{ inode.name }}
                                </h3>

                                {% if inode.is_file %}
                        </div>
                        {% else %}

                        </a>
                        {% endif%}
                    </div>





                </div>
            </div>



            {% endfor %}
        </div>
    </div>
</section>



{% endblock %}