{% extends "base.html" %}

{% block content %}


<h3 class="font-mono">UPLOAD A FILE</h3>

<form method="post" enctype="multipart/form-data">

    <div class="container mx-auto w-1/2 px-4 my-5">

        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Select File</label>
        <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            name="file" aria-describedby="file_input_help" id="file_input" type="file">


        <input type="hidden" name="parent_id" value="1">

        <p class="mt-1 mx-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">ALLOWED EXTENSIONS : TXT,
            PDF,
            PNG, JPG, JPEG, GIF, MP4, DOCX, PPTX
        </p>

        <input type="submit" value="Upload File"
            class="my-5 w-full text-white bg-gray-900 hover:bg-blue-900  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">

    </div>
</form>







{% endblock %}